<table class="w-full">
    <thead>
        <tr class="flex flex-row border-bottom-1 p-3 border-color-greyish text-left font-bold">
            <th class="w-5">Level</th>
            <th>Eligble for</th>
        </tr>
    </thead>
    <tbody>
        <tr class="flex flex-row text-left align-items-center gap-8 border-bottom-1 p-3 border-color-greyish font-family-regular text-base line-height-3 primary-font-color">
            <td class="flex flex-row align-items-start gap-3 w-4">
                <img src="assets\images\achievement-124188.png" alt="achievement" class="w-3rem">
                <div class="align-self-end">
                    <p class="font-family-regular font-meduim line-height-1 primary-color">Beginner User</p>
                    <p class="font-family-regular text-base line-height-2 font-secondary-color ">0 to 99 pts</p>
                </div>
                <p class="p-1 border-round-3xl border-1 earned-badge text-sm">Earned badge</p>
            </td>
            <td class="font-family-regular text-xl pl-2"> 
                Points, Qitaf points, Badge, Leaderboard
            </td>
        </tr>
        <tr class="flex flex-row text-left align-items-center gap-8 border-bottom-1 p-3 border-color-greyish font-family-regular text-base line-height-3 primary-font-color">
            <td class="flex flex-row align-items-start gap-3 w-4">
                <img src="assets\images\medal-124197.png" alt="medal" class="w-3rem">
                <div class="align-self-end"> 
                    <p class="font-family-regular font-meduim line-height-1 primary-color">Advanced User</p>
                    <p class="font-family-regular text-base line-height-2 font-secondary-color ">1,000 - 4,999 pts</p>
                </div>
                <p class="p-1 border-round-3xl border-1 coming-badge text-sm">Coming badge</p>
            </td>
            <td class="font-family-regular text-xl pl-2"> 
                Points, Badge, Leaderboard, Qitaf points, Certificate of Achievement
            </td>
        </tr>
        <tr class="flex flex-row text-left align-items-center gap-8 border-bottom-1 p-3 border-color-greyish font-family-regular text-base line-height-3 primary-font-color">
            <td class="flex flex-row align-items-start gap-3 w-4">
                <img src="assets\images\cup-124193.png" alt="cup" class="w-3rem">
                <div class="align-self-end"> 
                    <p class="font-family-regular font-meduim line-height-1 primary-color">Influncer</p>
                    <p class="font-family-regular text-base line-height-2 font-secondary-color ">5,000 - 9,999 pts</p>
                </div>
            </td>
            <td class="font-family-regular text-xl pl-2"> 
               <span class="block">Points, Badge,Leaderboard, Qitaf Points,</span>
                Certificate of Achievement, Easter Eggs, Service Discounts
            </td>
        </tr>
        <tr class="flex flex-row text-left align-items-center gap-8 border-bottom-1 p-3 border-color-greyish font-family-regular text-base line-height-3 primary-font-color">
            <td class="flex flex-row align-items-start gap-3 w-4">
                <img src="assets\images\award-124191.png" alt="award" class="w-3rem">
                <div class="align-self-end"> 
                    <p class="font-family-regular font-meduim line-height-1 primary-color">Tafani User</p>
                    <p class="font-family-regular text-base line-height-2 font-secondary-color ">10,000+ pts</p>
                </div>
            </td>
            <td class="font-family-regular text-xl pl-2"> 
               <span class="block">Points, Badge,Leaderboard, Qitaf Points,</span>
               <span  class="block">Certificate of Achievement, Easter Eggs, Service Discounts, </span> Leadership kudos
            </td>
        </tr>
    </tbody>
</table>