<h1 class="font-family-regular mb-3 text-lg font-bold">{{ 'LEADERBOARD.ACTIVITIES_AND_POINTS_PAGE.HOW_TO_GAIN_POINTS' | translate }}</h1>
<table class="w-7">
    <thead>
      <tr class="flex flex-row  justify-content-between border-bottom-1 p-3 border-color-greyish" [ngClass]="{'text-right': isRTL(), 'text-left': !isRTL()}">
        <th class="font-family-regular text-sm font-bold line-height-1 primary-font-color">{{ 'LEADERBOARD.ACTIVITIES_AND_POINTS_PAGE.ACTIVITY' | translate }}</th>
        <th class="font-family-regular text-sm font-bold line-height-1 primary-font-color w-2">{{ 'LEADERBOARD.ACTIVITIES_AND_POINTS_PAGE.POINTS_LABEL' | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <tr class="flex flex-row justify-content-between align-items-center border-bottom-1 p-3 border-color-greyish font-family-regular text-base line-height-3 primary-font-color" *ngFor="let point of pointsArray">
        <td>{{ 'LEADERBOARD.ACTIVITIES_AND_POINTS_PAGE.'+ point.activity | translate }}</td>
        <td class="primary-color font-bold w-2">{{ formatNumberForLocale(point.points) }} {{ 'LEADERBOARD.ACTIVITIES_AND_POINTS_PAGE.POINTS_LABEL' | translate }}</td>
      </tr>
    </tbody>
</table>
